---

---

<footer>
  <p class="footer-p">@2024 | Todos los derechos reservados a Midudev ❤️.</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
  }
  .footer-p {
    text-align: center;
  }
</style>
